
{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
 <link rel="stylesheet" href="{% static 'css/auth.css' %}">

 <body class="text-center">
              

 <div style="display:block;" class="formbox formbox1 ">
                    <div class="head">
                        <!-- <div class="formImg"> -->
                            <!-- <svg class="dashIcon">
                                <use xlink:href="/img/sprite.svg#dashboard" />
                            </svg>  -->
                            <div class="dashIcon">
                                <img src="{% static 'images/site-id-01.png' %}" width="80" alt="Dashboard" />
                            </div>
                            
                        <!-- </div> -->
                        <!-- <h1>DASHBOARD</h1> -->
                    </div>


                    <div id="dbody">
                        <form action="/activate_req/{{email}}" method="POST" id="Form">
                        {% csrf_token %}
                

                               <!-- password entry -->
                            <div class="usr-box">
                                <div class="usr-icon">
                                    <img src=" {% static 'images/usrnameicon.svg' %} " alt=""/>
                                </div> 
                                <input type="email" name="email" placeholder="Email" value="{{email}}" required>
                            </div>

                            
        
                            <div class="extras">
                                <!-- <a href="ForgotPassword">
                                    <h3>Forgot password</h3>
                                </a> -->
                                <input id="action-btn" type="submit" value="Get link">
                                <a href="{% url 'signin' %}" id="Switch">
                                    <h2 class="switchText">Already have an account ? Login</h3>
                                </a>
                            </div>
                        
                        </form>
                    </div>
                </div>  



{% endblock content %}
  
 



  
