
{% extends 'includes/base.html' %}
{% load static %}
{% block content %}

 <body class="text-center">
    
 <div style="display:block;" class="formbox">
                    <div class="head">
                        <!-- <div class="formImg"> -->
                            <!-- <svg class="dashIcon">
                                <use xlink:href="/img/sprite.svg#dashboard" />
                            </svg>  -->
                            <div class="dashIcon">
                                <img src="{% static 'images/site-id-01.png' %}" width="80" alt="Dashboard" />
                            </div>
                            
                        <!-- </div> -->
                        <!-- <h1>DASHBOARD</h1> -->
                    </div>


                    <div id="dbody">
                        <form action="/reset/{{uid}}/{{token}}" method="POST" id="Form">
                        {% csrf_token %}
                

                               <!-- password entry -->
                            <div class="usr-box">
                                <div class="usr-icon">
                                    <img src=" {% static 'images/pwicon.svg' %} " alt=""/>
                                </div> 
                                <input type="password" name="password" placeholder="New Password" required>
                            </div>
                             <div class="usr-box">
                                <div class="usr-icon">
                                    <img src=" {% static 'images/pwicon.svg' %} " alt=""/>
                                </div> 
                                <input type="password" name="password-confirm" placeholder="Confirm Password" required>
                            </div>


                            
        
                            <div class="extras">
                                <!-- <a href="ForgotPassword">
                                    <h3>Forgot password</h3>
                                </a> -->
                                <input id="action-btn" type="submit" value="Reset Password">
                                
                            </div>
                        
                        </form>
                    </div>
                </div>  



{% endblock content %}
  
 



  
